@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    string meId = HttpContextAccessor.HttpContext.Session.GetString("LoggedInID");
    string displayPhotoPath = HttpContextAccessor.HttpContext.Session.GetString("PhotoPath") ?? "/photo/ready.png"; // 預設圖像的路徑
    string userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RS委託網</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RS委託網</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">主頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pro" asp-action="Index">所有產品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="He" asp-action="Index">所有創作者</a>
                        </li>
                        <!-- 添加更多导航项 -->
                    </ul>
                    <ul class="navbar-nav  ms-auto">
                        <!-- 会员菜单按钮 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" id="menu-button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@displayPhotoPath" alt="頭像" class="avatar-img" style="max-width: 30px; height: 30px; border-radius: 50%;" /> 會員菜單
                            </a>
                            <ul id="menu" class="dropdown-menu" aria-labelledby="menu-button">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Me" asp-action="Detail">個人資料</a></li>
                                @* <li><a class="dropdown-item" asp-area="" asp-controller="Pro" asp-action="Index">所有產品</a></li> *@
                                <li><a class="dropdown-item" asp-area="" asp-controller="Me" asp-action="Edit" asp-route-id="@meId">帳戶設置</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Me" asp-action="OrderHis" asp-route-id="@meId">我的訂單</a></li>
                                @* 只有當權限代號為 B 時才顯示這個按鈕 *@
                                @if (userRole == "B")
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">我的產品</a></li>
                                }
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout">登出</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-5 py-3 bg-light">
        <div class="container text-center">
            &copy; 2024 - HomeWorks - <a asp-area="" asp-controller="Home" asp-action="Privacy">隐私政策</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* 渲染定义的部分 *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>